<div class="card text-center">
    <div class="card-header">
        Proje Özeti
    </div>
    <div class="card-body">
        <h5 class="card-title">Angular Örnek Projesi</h5>
        <p class="card-text">Bu angular projesinde, kendi api'ım olan <a
                href="https://api.alikayablog.com.tr/swagger/index.html ">(API ADRESİ)</a> adresinden yararlandım.</p>
        <p class="card-text">Proje içerisinde, guard yapısı ile sayfalara erişim engellenmekte,</p>
        <p class="card-text">API üzerinden (HTTP CLİENT ile) veriler çekilmekte. Ayrıca makale içeriği için veri ekleme
            ve güncelleme fonksiyonlarıda mevcut.</p>
        <a [routerLink]="['/articles']" class="btn btn-primary">Denemek için tıklayınız</a>
        <br>
        <br>
        <a [routerLink]="['/articles']" class="btn btn-primary">Proje Kodları</a>
    </div>
    <div class="card-footer text-muted">
        parametre araştırma bilişim. Angular Projesi
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card text-center mb-4">
                <div class="card-header">
                    MVC Projesi
                </div>
                <div class="card-body">
                    <h5 class="card-title">ASP.NET CORE WEB APİ</h5>
                    <p class="card-text">bu proje için de kullandığım api projesinin github
                        adresinden
                        bakabilirsiniz.</p>
                    <p class="card-text">CQRS, UnitofWork ve diğer kütüphanaler ile geliştirdiğim web sitesi</p>
                    <p class="card-text"></p>
                    <a href="https://github.com/CanKaya4/BlogWeb" class="btn btn-primary">Github Linki</a>
                </div>
                <div class="card-footer text-muted">
                    parametre araştırma bilişim. Angular Projesi
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card text-center mb-4">
                <div class="card-header">
                    API Projesi
                </div>
                <div class="card-body">
                    <h5 class="card-title">ASP.NET CORE WEB APİ</h5>
                    <p class="card-text">bu proje için de kullandığım api projesinin github
                        adresinden
                        bakabilirsiniz.</p>
                    <p class="card-text">Entity Framework Core, Mediatr kütüphaneleri ve Onion Architecture ve CQRS
                        mimarisini kullandım.</p>
                    <p class="card-text"></p>
                    <a href="https://github.com/CanKaya4/BlogApi-OnionCQRS" class="btn btn-primary">Github Linki</a>
                </div>
                <div class="card-footer text-muted">
                    parametre araştırma bilişim. Angular Projesi
                </div>
            </div>
        </div>
    </div>
</div>